@import "tailwindcss";

:root {
    --primary-color: linear-gradient(135deg, #e0f7fa, #fff8e1, #fce4ec);
    --theme-button-bg-img: url(./images/dark-mode-img.png);
    --aboutMe-developer-img: url(./images/developer-img-dark.svg);
    --theme-button-bg-size: 25px 25px;
    --theme-button-bg-margin: 5px;
    --theme-button-bg-color: rgba(0, 172, 193, 0.8);
    --text-color-a: #1a237e;
    --border-color: rgba(0, 172, 193, 0.8);
    --boxes-color: rgba(255, 213, 79, 0.7);
    --header-bg-color: rgba(255, 183, 77, 0.8);
}

:root.dark {
    --primary-color: linear-gradient(135deg, #0d47a1, #1b1b2f, #000000);
    --theme-button-bg-img: url(./images/light-mode-img.png);
    --aboutMe-developer-img: url(./images/developer-img-light.svg);
    --theme-button-bg-color: rgba(255, 213, 79, 0.7);
    --theme-button-bg-size: 35px 35px;
    --theme-button-bg-margin: 0px;
    --text-color-a: #f1f1f1;
    --border-color: #9575cd;
    --boxes-color: rgba(255, 112, 67, 0.3);
    --header-bg-color: rgba(55, 71, 79, 0.95);
}

body {
    transition: 0.5s;
    background: var(--primary-color);
}