@import "tailwindcss";

:root {
    --primary-color: #f3f8ff;
    /* Soft cool white-blue */
    --theme-button-bg-size: 28px 28px;
    --theme-button-bg-margin: 4px;
    --theme-button-bg-color: rgba(30, 136, 229, 0.85);
    /* Vivid blue */
    --text-color-a: #0d47a1;
    /* Deep Indigo */
    --border-color: rgba(30, 136, 229, 0.6);
    /* Soft blue border */
    --boxes-color: rgba(129, 212, 250, 0.3);
    /* Light cyan background */
    --header-bg-color: rgba(100, 181, 246, 0.8);
    /* Lighter blue */
}

:root.dark {
    --primary-color: #0f172a;
    /* Deep navy */
    --theme-button-bg-color: rgba(41, 182, 246, 0.85);
    /* Light blue */
    --theme-button-bg-size: 35px 35px;
    --theme-button-bg-margin: 0px;
    --text-color-a: #e0f2f1;
    /* Soft teal */
    --border-color: rgba(129, 140, 248, 0.7);
    /* Indigo-blue */
    --boxes-color: rgba(94, 234, 212, 0.1);
    /* Teal-gray blend */
    --header-bg-color: rgba(30, 41, 59, 0.95);
    /* Almost black blue */
}

body {
    transition: background 0.5s ease;
    background: var(--primary-color);
    color: var(--text-color-a);
}